@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
  }

/* HEADER CSS */

.header{
  background-color: #0EC297;
  position: sticky;
    top: 0;
    z-index: 9999;
}

/* PRODUCT CSS */

.primaryBtn {
  background-color: #0AA97F;; /* Base color */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.primaryBtn:hover {
  background-color: #0EC297;
  transform: scale(1.05);
}
.cartIcon{
  right: -15px !important;
  top: -15px !important;
}