@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F5F5;
  }

/* HEADER CSS */

.header{
  background-color: #0EC297;
  position: sticky;
    top: 0;
    z-index: 9999;
}

/* PRODUCT CSS */

.primaryBtn {
  background-color: #0AA97F;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.dangerBtn{
  background-color: rgb(220 38 38);
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.primaryBtn:hover {
  background-color: #0AA97F !important ;
  transform: scale(1.05);
}
.cartIcon{
  right: -15px !important;
  top: -15px !important;
}



   @media (max-width: 767px) {
    .mobileHide{
      display: none;
    }
  }
  @media (hover: none) {
  
  
    .mobileHide {
      display: none; 
    }
  
    .btn .group-hover\:ml-0,
    .btn .group-hover\:mb-32,
    .btn .group-hover\:translate-x-0,
    .btn .group-hover\:translate-y-0,
    .btn .group-hover\:text-white {
      transition: none; 
      margin-left: inherit; 
      margin-bottom: inherit; 
      transform: none; 
      color: inherit; 
    }
  }
  